{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <h3 class="display-6">Cadastrar Sub-Categoria</h3>

  <div class="card">
    <div class="card-body">
      <form method="post" class="form">
        {% csrf_token %}
        {{ form.category.label_tag }}  <!-- Display category label -->
        {{ form.category }}  <!-- Category selection field -->
        {{ form.name.label_tag }}
        {{ form.name }}
        {{ form.description.label_tag }}
        {{ form.description }}
        <button type="submit" class="btn btn-primary mt-3">Salvar Sub-Categoria</button>
      </form>
    </div>
  </div>
  <a href="{% url 'sub_category_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar para a Lista de Sub-Categorias</a>
</div>
{% endblock %}
