{% extends 'base.html' %}

{% block title %}
Senha Redefinida - SGC Componentes
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-body text-center">
          <h4 class="card-title">Senha Redefinida com Sucesso</h4>
          <p class="card-text">
            Sua senha foi redefinida com sucesso. Você agora pode fazer login com sua nova senha.
          </p>
          <a href="{% url 'login' %}" class="btn btn-primary">Fazer Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
