{% extends 'base.html' %}

{% block title %}
E-mail Enviado - SGC Componentes
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-body text-center">
          <h4 class="card-title">E-mail Enviado</h4>
          <p class="card-text">
            Um e-mail com instruções para redefinir sua senha foi enviado para o endereço fornecido.
          </p>
          <a href="{% url 'login' %}" class="btn btn-primary">Voltar ao Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
